.Home-container {
  display: flex;
}

.Home-header {
  display: flex;
  flex-direction: column;
}

.Home-h1 {
  margin: 0;
  padding-bottom: 10px;
}

.Home-form {
  max-width: 600px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.Home-input {
  flex: 1;
  height: 30px;
  font-size: large;
}

.Home-figure {
  margin: 0;
}
.Home-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

@media only screen and (max-width: 620px) {
  .Home-form {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
}
